<!DOCTYPE html>
<!-- This template was created by Nirali Patel ISM 5994 -->
<html lang="en">
<head>
	<title>Forward Fitness Club</title>
	<meta charset="utf-8">
</head>
<body>

	<!-- Using the header area for the website name or logo -->
	<header>
		Forward Fitness Club
	</header>
	
	<!-- Using the nav area to add hyperlinks to other pages withinthe website -->
	<nav>
		Home &nbsp; &nbsp;
		About Us &nbsp; &nbsp;
		Classes &nbsp; &nbsp;
		Nutrition &nbsp; &nbsp;
		Contact Us &nbsp; &nbsp;
		
	</nav>
	
	<!-- Using the main area to add the main content of the webpage -->
	<main>
		
	</main>
	
	<!-- Using the footer area to add webpage footer content -->
	<footer>
		&copy; Copyright 2015. All Rights Reserved. <br>
		forwardfitness@club.net
	</footer>
	
</body>
</html>
